@import '../../styles/vars';
@import '../../styles/mixins';
@import "include-media";


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;

    @include media($LGbreakpoint){
        justify-content: center;
    }


    @include logo();

    .navItems{
        font-family: $defaultFontFamily;
        color: $secondColor;
        font-size: 30px;
        font-weight: lighter;
        display: flex;
        gap: 60px;

        @include media($LGbreakpoint){
            display: none;
        }

        .link{
            :hover{
            border-bottom: 2px solid $secondColor;
        }
        }
        
      
    }

    .icons{
        display: flex;
        flex-direction: row;
        gap: 42px;
        
        @include media($LGbreakpoint){
            display: none;
        }
           
    }
}