@import '../../styles/mixins';
@import '../../styles/vars';


.orderSection{
    @include logo(black);
    padding: 35px;
    background-color: $bgColor;
    .text{
        display: inline-flex;
        flex-direction: column;
        align-items: end;
        padding-top: 40px;
            color: $secondColor;
        
        .title{
            font-family: $defaultFontFamily;
    
            font-size: 100px;
            span{
                font-family: $fancyFontFamily;
               
            }
        }


        .description{
            font-family: $defaultFontFamily;
            font-size: 32px;
            font-weight: 300;
        }
    }



    .productsList{
        padding-top: 150px;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-wrap: wrap;
       gap: 150px;
        
        
        .products{
          max-width: 1200px;
        }


    }
}

