@import '../../styles/vars';

.home{
    .header{
    border: 15px solid $secondColor;
    background-color: $bgColor;
}
.valuesSection{
    z-index: 999;
}


.loading{
    background-color: $secondColor;
    position: absolute;
    width: 99.2vw;
    height: 100vh;
    z-index: 1000;
}
.orderSection{
    z-index: 1000;
    border: 15px solid $secondColor;
    background-color: $bgColor;
}

}
